<!-- products.hbs -->

<h1>Products</h1>

<ul>
  {{#each products}}
  <li>
    <h2>{{name}}</h2>
    <p>Price: ${{price}}</p>
    <p>Category: {{category}}</p>
    <!-- Agregar botones y funcionalidades según la opción elegida -->
    {{#if option}}
      {{#if (eq option 'view')}}
        <a href="/products/{{id}}">View Details</a>
      {{else if (eq option 'add')}}
        <form action="/carts/{{cartId}}/products/{{id}}" method="post">
          <button type="submit">Add to Cart</button>
        </form>
      {{/if}}
    {{/if}}
  </li>
  {{/each}}
</ul>

<!-- Paginación -->
<ul class="pagination">
  {{#if hasPrevPage}}
  <li>
    <a href="/products?page={{prevPage}}&limit={{limit}}&option={{option}}&cartId={{cartId}}">Previous</a>
  </li>
  {{/if}}
  {{#each totalPages}}
  <li>
    {{#if (eq this ../currentPage)}}
      <span class="active">{{this}}</span>
    {{else}}
      <a href="/products?page={{this}}&limit={{limit}}&option={{option}}&cartId={{cartId}}">{{this}}</a>
    {{/if}}
  </li>
  {{/each}}
  {{#if hasNextPage}}
  <li>
    <a href="/products?page={{nextPage}}&limit={{limit}}&option={{option}}&cartId={{cartId}}">Next</a>
  </li>
  {{/if}}
</ul>
